/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Dancing+Script:wght@400;500;600;700&family=Marck+Script&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

:root {
    --main-bg-color: #0d1117;
    --main-fg-color: #c9d1d9;
    --fg-color-quote: rgb(255, 226, 62);
}

::selection {
    background-color: rgb(208, 250, 250);
    color: rgb(55, 13, 88);
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Playfair Display', serif;
}

.header {
    width: 100%;
    background-color: var(--main-bg-color);
    z-index: 100;
    position: sticky;
    top: 0;
    font-family: 'Major Mono Display', monospace;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.navbar {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.container {
    transition: opacity 200ms, background-color 200ms;
}

.navbar_ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.navbar_list_item {
    margin-left: 10px;
    color: #fff;
    box-sizing: border-box;
}

.navbar_list_item i {
    font-size: 2rem;
}

.mr_l_au {
    margin-left: auto;
}

.navbar_list_item_link {
    color: #fff;
    display: block;
    position: relative;
    padding: 1.7em 1.7em;
    text-decoration: none;
}

.navbar_list_item:hover span::before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.nav_wip:hover span::before {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    transform: rotate(4deg);
}

.nav_contact:hover span::before {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    transform: rotate(-3deg);
}

.nav_work:hover span::before {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    transform: rotate(2deg);
}

.nav_about:hover span::before {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    transform: rotate(-3deg);
}

.navbar_list_item_link span {
    font-size: 1.2em;
    position: relative;
    z-index: 10;
}

.navbar_list_item_link span::before {
    z-index: 5;
    content: "";
    width: 100%;
    position: absolute;
    bottom: -10px;
    height: 3px;
    left: 0;
    display: block;
    background: #ffc4ff;
    transform: translate3d(0, 10px, 0);
    transition: all .2s cubic-bezier(.175, .885, .32, 1.275);
    opacity: 0;
}

.navbar_icon:hover {
    animation-name: swing;
    animation-duration: 750ms;
    animation-iteration-count: 1;
}

.navbar_icon:hover a .fa-youtube {
    color: rgb(243, 61, 61);
}

.navbar_icon:hover a .fa-github {
    color: #6cc644;
}

.navbar_icon:hover a .fa-discord {
    color: rgb(202, 14, 240);
}

.navbar_icon:hover a .fa-dribbble {
    color: rgb(49, 243, 243);
}

.section {
    overflow: hidden;
    position: relative;
    z-index: 4;
    padding-top: 60px;
}

.box {
    padding-top: 2em;
    margin: 0 auto;
    max-width: 1600px;
    padding: 140px 15em 370px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.part1 span {
    display: block;
}

.section-part {
    line-height: 1.7;
}

.part1 h1 {
    color: #fff;
    background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 6.5em;
    line-height: 1.3;
    -webkit-text-fill-color: transparent;
}

.part1 p {
    color: white;
    font-size: 1.3em;
    max-width: 600px;
    padding: 0;
    margin: 1.3em 0 0;
}

.section-part {
    flex: 1;
    --webkit-flex: 1;
    box-sizing: border-box;
    max-width: 100%;
}

.square-dec {
    border-radius: 20px;
    background: linear-gradient(180deg, #edca85, #f093b0);
    width: 140px;
    height: 140px;
    position: absolute;
    transform: scale(0.9);
}

.square-container {
    position: relative;
    width: 100%;
}

.square {
    text-align: center;
    position: relative;
    max-width: 100%;
}

.square i {
    font-size: 25em;
    color: white;
    background: linear-gradient(90deg, white 0%, whitesmoke 100%);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    top: 50%;
    -webkit-text-fill-color: transparent;
    position: relative;
    animation-name: eye;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}


.sq1 {
    left: -125px;
    top: -140px;
    background: linear-gradient(150deg, rgba(255, 0, 125, 1) 0%, rgba(224, 48, 232, 0.8715861344537815) 0%, rgba(0, 74, 255, 1) 100%);
}

.sq2 {
    top: -135px;
    right: -140px;
    background: rgb(255, 0, 125);
    background: linear-gradient(230deg, rgba(255, 0, 125, 1) 0%, rgba(48, 232, 106, 0.8715861344537815) 0%, rgba(159, 255, 0, 1) 100%);
}

.sq3 {
    right: -100px;
    bottom: 80px;
    background: rgb(255, 0, 125);
    background: linear-gradient(130deg, rgba(255, 0, 125, 1) 0%, rgba(228, 232, 48, 0.8715861344537815) 0%, rgba(255, 119, 0, 1) 100%);
}

.sq4 {
    bottom: -120px;
    left: 20px;
    background: rgb(255, 0, 125);
    background: linear-gradient(40deg, rgba(255, 0, 125, 1) 0%, rgba(180, 48, 232, 0.8715861344537815) 0%, rgba(255, 0, 236, 1) 100%);
}

.sq5 {
    bottom: -255px;
    left: 175px;
    background: rgb(255, 0, 125);
    background: linear-gradient(180deg, rgba(255, 0, 125, 1) 0%, rgba(48, 232, 199, 0.8715861344537815) 0%, rgba(0, 236, 255, 1) 100%);
}

.content-box {
    background-color: #131313;
    color: white;
    width: 80%;
    margin: auto;
    height: 100vh;
    max-height: 600px
}

.quote-container {
    border: 0.15rem solid var(--fg-color-quote);
    width: 80%;
    margin: auto;
    padding: 30px 0;
    text-align: center;
    font-size: 100%;
    position: relative;
    background-color: var(--main-bg-color);
}

.r1 {

    top: -10px;
    left: -10px;
    transform: rotate(-45deg)
}

.r2 {
    top: -10px;
    right: -10px;
    transform: rotate(45deg)
}

.r3 {
    bottom: -10px;
    right: -10px;
    transform: rotate(135deg)
}

.r4 {
    bottom: -10px;
    left: -10px;
    transform: rotate(-135deg)
}

.rounded-border {
    width: 30px;
    height: 25px;
    position: absolute;
    background-color: var(--main-bg-color);
    z-index: 50;
    border-bottom: 0.1rem solid var(--fg-color-quote);
    border-radius: 50%;
}

.title {
    position: absolute;
    top: -10px;
    background-color: var(--main-bg-color);
    left: 47%;
    padding: 0 10px;
    text-transform: uppercase;
    color: var(--fg-color-quote);
    font-family: 'Dancing Script', cursive;
}

.quote-content {
    color: var(--main-fg-color);
    font-size: 1.3rem;
    font-family: 'Marck Script', cursive;
}

.quote {
    padding: 1em;
}


.skills {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.skills-ul {
    list-style-type: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    min-width: 50%;
    max-height: 500px;
    text-align: center;
}

.skill {
    padding: 0.5em;
    background-color: #2c2c2c;
    margin: 1em;
    border-radius: 20px;

}

.subheading {
    font-size: 5em;
    margin: auto;
    background: linear-gradient(90deg, rgb(206, 43, 255) 0%, rgb(94, 255, 234) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skill-name {
    font-size: 1.2em;
}

.skill i {
    font-size: 2.2em;
    margin: 0.5em 1em;
    display: block;
    background: -webkit-gradient(linear, left top, right bottom, from(rgb(247 209 41)), to(rgb(255 78 0)));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.testimonials {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.testimonials-ul {
    list-style-type: none;
    text-align: center;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: auto;
}

.testimonials-li {
    background-color: #1c1b1b;
    border-radius: 2em;
    padding: 1em;
}

.testimonials-li img {
    max-height: 10rem;
    width: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 200ms ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
}

.testimonials .subheading {
    background: linear-gradient(90deg, rgb(77, 177, 235) 0%, rgb(233, 68, 192) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.testimonials-name {
    font-size: 2em;
}

.testimonials-img {
    width: 8rem;
}

.testimonial-content {
    max-width: 75%;
    margin: auto;
    text-align: justify;
    font-style: italic;
    color: rgb(209, 209, 209);
}

.fade {
    animation-name: fade;
    animation-duration: 400ms;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;

    }
}

.footer {
    position: relative;
    max-width: 100%;
}

.footer-content {
    max-width: 800px;
    padding: 10em 0;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    box-sizing: border-box;
    text-align: center;
    line-height: 150%;

}

.footer-title {
    color: #fff;
    background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 4.5em;
    line-height: 110%;
    -webkit-text-fill-color: transparent;
    padding-bottom: 1em;
}

.footer-text {
    color: white;
    font-size: 1.6em;
    font-family: 'Dancing Script', cursive;
}

.footer-text .footer-text-message {
    display: block;
    position: relative;
    font-family: 'Dancing Script', cursive;
}

.footer-text span a {
    text-decoration: none;
    color: #a0e9ff;
    position: relative;

}

.footer-text span:hover a::before {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    transform: scale(1.04);
}

.footer-span-link::before {
    z-index: 5;
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 3px;
    left: 0;
    display: block;
    background: #ffc4ff;
    transition: all .2s ease-in-out;
    transform: rotate(1deg);
    opacity: 0.77;
}

.footer-span-link span {
    font-family: 'Dancing Script', cursive;
}

.footer-watermark {
    position: absolute;
    bottom: 10px;
    width: 40%;
    left: 30%;
    color: rgb(116, 116, 116);
}

.footer-watermark i {
    padding-right: 0.5em;
}

.footer-watermark-text {
    display: block;
}

.copyright-author {
    color: rgb(182, 182, 182);
}

.backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: white;
    opacity: 1;
    transition-duration: 100ms;
}

.fa-arrow-up {
    font-size: 1.6rem;
    border: 1px solid white;
    border-radius: 0.2em;
    padding: 0.7em;
    transition-duration: 200ms;
}

.fa-arrow-up:hover {
    background: linear-gradient(90deg, rgb(206, 43, 255) 0%, rgb(94, 255, 234) 100%);
    border: 1px solid white;
    cursor: pointer;
}

.d-n {
    opacity: 0;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(10deg);
    }

    66% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Keyframes */
@keyframes eye {
    0% {
        top: 0px;
        transform: scale(1);
    }

    10% {
        top: 20px;
        transform: scale(1.2);

    }

    20% {
        transform: scale(1.1);
        top: -20px;
    }

    30% {
        top: 20px;
        transform: scale(1);
    }

    40% {
        top: 30px;
        transform: scale(0.9);
    }

    50% {
        top: -10px;
        transform: scale(1.3);
    }

    60% {
        transform: scale(1);
        top: -20px;
    }

    70% {
        top: 20px;
        transform: scale(0.8);
    }

    80% {
        top: 30px;
        transform: scale(0.9);
    }

    90% {
        top: -10px;
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        top: 0px;
    }
}

/* Media Screens */